*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
$btnOrangeColor: #fd7a2c;



p{
  margin-bottom:0;
}
.nav{

  a{
    font-size: 1.5rem;
  }
}
section{
  min-height: 70vh;
  // background-color: antiquewhite;
  border:  black 3px solid ;
}
.img-block{
  max-width: 4rem;
}

.SliderSection{
  min-height: inherit;
    margin-top: 1rem;
  div{
   
    // max-height: 70vh;
    
  }
}
.btn-send{
  box-sizing: border-box;
  background-color: $btnOrangeColor;
  border: 1px solid;
  color: white;
  border-radius: 1.5em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-color: #e55702 #da5302 #cb4d02 #da5302;
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 7%);
  text-shadow: 0 1px 0 rgb(0 0 0 / 5%);
  padding-top: auto;
  padding-bottom: auto;
}

.course-item{
  
 
  padding-right: 10px;
  margin-bottom: 10px;
  margin-bottom: 30px;
}
.course-item-in{
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  min-height: 10rem;
  max-height: 15rem;
  overflow: hidden;
  background-color: white;
  border-top: 10px solid #EE7C3C;
  border-radius: 8px;
  box-shadow: 0 4px 14px rgb(0 0 0 / 15%);

}